<div style="background-color:aqua;height:50px;margin-top:-10px;width:1350px"> </div>
  <div style="margin-left:440px;margin-top:-35px;"> HOME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT US&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTACT US&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GALLERY </div>
 <div style="margin-top:25px;margin-left:5px;color:rgb(226, 70, 43);">
  <div>
   HOME<br><br>
   ABOUT US<br><br>
   CONTACT US<br><br>
   GALLERY</div>
<div style=color:brown;>
  <div style="margin-left:440px;margin-top:-115px">
<h1><b>Amaljyothi College Of Engineering</b></h1></div>
<div style="margin-left:590px;">
<h2>Kovappally</h2></div></div>

<img src="assets/new.jpg" height="400px;" width="1340px;">
</div><div style="margin-left:600px;" >
<app-header></app-header></div>
